* {
   font-family: arial,sans-serif;
   font-size: 14px;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* HEADER */

.navbar {
   display: flex;
   justify-content: space-between;
   margin: 15px 2%;
}

.navbar_nav {
   display: flex;
   align-items: center;
   list-style: none;
}

.nav_link {
   color: #5f6368;
   padding: 7px 12px;
   text-decoration: none;
}

.nav_link:hover {
   text-decoration: underline;
}

.nav_link:hover .nav_icon {
   color: #000;
}

.nav_photo {
   width: 40px;
   height: 40px;
   border-radius: 50%;
}

/* SEARCH AREA */

.search_area {
   display: flex;
   height: 60vh;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.search_form {
   display: flex;
   align-items: center;
   width: 40%;
   border: 1px solid #dfdada;
   border-radius: 25px;
   padding: 7px;
   margin: 15px 0;
}

.search_form:hover {
   box-shadow: 0 0 10px #aaa8a8;
}

.input_search {
   display: inline-block;
   width: 100%;
   border: unset;
}

.input_search:focus {
   outline: unset;
}


.btn_widget {
   display: inline-block;
   width: 28px;
   height: 28px;
   background-color: transparent;
   cursor: pointer;
   border: unset;
   margin: 0 5px;
}

.icon_widget {
   width: 100%;
}

.list_btn {
   margin: 15px 0;
   text-align: center;
}

.list_btn .btn {
   background-color: #F4F4F4;
   color: #5F6368;
   border: unset;
   padding: 8px 14px;
   margin: 0 5px;
   border: 1px solid transparent;
   border-radius: 5px;
}

.list_btn .btn:hover {
   cursor: pointer;
   border: 1px solid #c6c6c6;
}

.google_language {
   display: flex;
   margin-top: 15px;
}

.language_item {
   color: #1a0dab;
   text-decoration: none;
   padding: 0 7px;
}

.language_item:hover {
   text-decoration: underline;
}

/* FOOTER */

.footer {
   position: fixed;
   width: 100%;
   background-color: #F2F2F2;
   bottom: 0;
}

.footer_container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px 0;
   margin: 0 2%;
}

.footer_switch {
   display: flex;
   list-style: none;
}

.footer_link {
   color: #5f6368;
   padding: 7px 12px;
   text-decoration: none;
}

.footer_link:hover {
   text-decoration: underline;
}
